@import "../config";

.button {
  display: flex;

  max-width: 250px;
  padding: $gutter/2 $gutter;
  margin: 0;

  font-family: $font-head;
  font-size: 24px;
  font-weight: 700;

  text-align: center;
  text-decoration: none;

  cursor: pointer;

  background-color: $color-4;

  border: 1px solid $color-4;
  border-radius: 10px;

  transition:
    color $transition,
    background-color $transition,
    border-color $transition;

  &:hover {
    color: #000;
    background-color: $color-3;
    border-color: $color-2;
  }
}

.active {
  background-color: $color-5;
}
