@import "../config";

.section {
  display: flex;
  max-width: 1200px;
  padding: 0 $gutter;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;

  &__content {
    display: flex;
    max-width: $max-width;
    justify-content: center;
  }

  &__button {
    display: flex;
    width: 100%;
    max-width: 440px;
    justify-content: space-between;
    flex-direction: row;
  }

  @media (min-width: 1200px) {
    padding: 0;
  }
}

.lectures a {  /* stylelint-disable-line */
  display: contents;
  text-decoration: none;
}

.lectures {
  margin-right: $gutter/-2;
  margin-left: $gutter/-2;

  &__row {
    display: flex;
    width: 100%;
    padding-top: $gutter*2;
    flex-wrap: wrap;
    flex-direction: column;

    @media (min-width: 500px) {
      flex-direction: row;
    }
  }

  &__link {
    display: contents;
  }

  &__col {
    display: flex;
    padding-right: $gutter/2;
    padding-bottom: $gutter*2;
    padding-left: $gutter/2;
    flex-direction: column;

    &:hover {
      .lectures__banner {
        background-color: $color-2;
      }

      .lectures__image {
        background-color: $color-2;
      }
    }

    @media (min-width: 500px) {
      width: 50%;
      justify-content: flex-end;
    }

    @media (min-width: 1000px) {
      width: 33.3333%;
    }
  }

  &__image {
    height: 100%;
    margin-bottom: -4px;
    background: $color-4;
    transition:
      color $transition,
      background-color $transition,
      border-color $transition;
  }

  &__banner {
    font-family: $font-head;
    color: #000;
    background: $color-4;
    transition:
      color $transition,
      background-color $transition,
      border-color $transition;
  }

  &__chapter {
    padding: $gutter/2;
    font-weight: 700;
  }

  &__title {
    padding: 0 $gutter/2 $gutter/2;
  }

}
